/*内容*/
/*公司简介start*/
.neirong .neirong1{flex:1 0 0;}
.gsjs{
	font-size: 24px;
	color:#555;
	font-weight: normal;
	text-align: center;
	padding-bottom: 20px;
}
.tupian1{width:840px;height: 540px;}
.wenzi{margin-top: 15px;font-size: 21px;color: #555;line-height: 32px;}
/*公司简介end*/
/*组织机构start*/
.neirong1 figure{width: 800px;height: 800px;}
/*组织机构end*/

/*资质荣誉*/
.zizhiblock{
	display:flex;
	width:840px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.zizhi{
	width:189px;
	height: 144px;
}
.zizhi1,.zizhi2,.zizhi3,.zizhi4,.zizhi5{
	width:193px;
	margin-top:20px;
	display: flex;
	flex-direction: column;
	
}
.zizhi11{
	width:189px;
	height:144px;
	padding:2px 1px;
	border:0.5px solid #ddd;
}
.zizhi12 .wenzi{
	margin:10px;
	text-align: center;
	font-size: 14px;	
}
.zizhi12 .wenzi a{
	color: #555;
}
.zizhi11:hover{border-color: #FF7920;}
.zizhi12 .wenzi a:hover{color:#FF7920; }
/*资质荣誉*/
