/*内容*/
.neirong{
	flex:1 0 0;
	margin-left: 20px;
}
.dtgg{
	font-size: 24px;
	color:#555;
	font-weight: normal;
	text-align: center;
	border-bottom: 0.5px solid #ddd;
	padding-bottom: 20px;
}
.box{margin-left: 14px;}
.box ul li{margin-top: 15px;}
.box ul li a{color: #555;font-size: 14px;}
.box ul li a:hover{color:#FF7920; }
.box ul li .time{
	float: right;
}